heapfixer/build
heapfixer/.gradle
heapfixer/out
heapdumps/*
!heapdumps/java_pid20148.hprof
heapfixer/.idea/AndroidProjectSystem.xml
heapfixer/.idea/copilot.data.migration.ask2agent.xml
heapfixer/.idea/vcs.xml
heapfixer/.idea/gradle.xml
heapfixer/.idea/libraries/
heapfixer/.idea/artifacts/
heapfixer/.idea/misc.xml
heapfixer/.idea/modules.xml
idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/
.idea/queries/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/AndroidProjectSystem.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/workspace.xml
.idea/**/shelf/
.idea/**/httpRequests/
.idea/**/queries/
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/**/AndroidProjectSystem.xml
.idea/**/copilot.data.migration.ask2agent.xml
.idea/**/vcs.xml
.idea/**/gradle.xml
.idea/**/libraries/
.idea/**/artifacts/
.idea/**/dictionaries/
.idea/**/inspectionProfiles/
